@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../../../Fonts/NotoSans-Regular.ttf') format('ttf');
}

body {
  --main-bg-color: #fff;
  --mark-bg-color: rgba(0, 173, 238, .75);
  --text-color: #222;
  --text-color-light: #666;
  --border-light: 1px solid rgb(226, 228, 231);

  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.hidden {
  display: none;
}

.yoast-seo {
  &__container {
    max-width: 800px;

    h1 {
      margin: 0 1rem 1rem;
      font-size: 20px;
    }

    .react-tabs {
      &__tab {
        svg {
          margin-right: .5rem;
        }
      }
    }
  }

  &-keyphrase-editor-wrapper {
    margin-bottom: 1rem;
    font-size: 13px;
  }

  &-snippet-editor-wrapper {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);

    // Hotfix to hide `Insert snippet variable` button
    section button {
      display: none;
    }
  }

  &-social-preview {
    > * {
      margin-bottom: 1rem;
    }
  }

  &-analysis {
    font-size: 13px;

    h2 {
      font-size: 16px;

      button {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      margin: .3rem 0;
    }

    p {
      line-height: 1.5;
    }

    &__header {
      margin-bottom: .5rem;
      display: block;
    }
  }
}

.yoast-loader {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;

  &--stop {
    animation: none !important;
  }
}

.yoast-svg-icon-loading-spinner {
  animation: rotator 1.4s linear infinite;

  .path {
    stroke: #64a60a;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      transform: rotate(135deg);
    }
    to {
      stroke-dashoffset: 187;
      transform: rotate(450deg);
    }
  }

  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(270deg);
    }
  }
}

.snippet-editor {
  display: none;
}

.ReactModal__Content {
  box-shadow: 0 2px 7px -1px rgba(0, 0, 0, .15);

  strong {
    font-size: 14px;
  }

  .yoast-seo__mark {
    color: var(--text-color-light);
    font-size: 13px;
  }

  .yoast-text-mark {
    color: var(--text-color);
    font-size: 13px;
    line-height: 1.5;
  }
}

// Workaround to prevent neos showing inline validation errors in the wrong place
#neos-backend-container,
#neos-new-backend-container {
  display: none;
}
