@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../../../../../Application/Neos.Neos/Resources/Public/Fonts/NotoSans/NotoSans-Regular.ttf') format('ttf');
}

body {
  --main-bg-color: #fff;
  --mark-bg-color: rgba(0, 173, 238, .75);
  --text-color: #222;
  --text-color-light: #666;
  --border-light: 1px solid rgb(226, 228, 231);

  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.hidden {
  display: none;
}

.yoast-seo {
  &__container {
    padding: 1rem;
    max-width: 800px;

    h1 {
      margin-top: 0;
    }
  }

  &__snippet-preview-wrapper {
    margin: 1rem 1rem;
  }

  &__content-analysis-wrapper {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      margin: .3rem 0;
    }

    > * {
      border-top: var(--border-light);
    }
  }
}

.yoast-loader {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}

.ReactModal__Content {
  box-shadow: 0 2px 7px -1px rgba(0, 0, 0, .15);

  h2 {
    margin-top: 0;
  }

  .yoast-seo__mark {
    color: var(--text-color-light);
  }

  .yoast-text-mark {
    color: var(--text-color);
  }

  .button--close {
    position: absolute;
    -webkit-appearance: none;
    border: 0;
    padding: .5rem;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}


