@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/NotoSans-Regular.ttf') format('ttf');
}

body {
  --main-bg-color: #fff;
  --mark-bg-color: rgba(0, 173, 238, .75);
  --text-color: #222;
  --text-color-light: #666;
  --border-light: 1px solid rgb(226, 228, 231);

  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.hidden {
  display: none;
}

.yoast-seo {
  &__container {
    max-width: 800px;

    h1 {
      margin: 0 1rem 1rem;
      font-size: 20px;
    }
  }

  &__snippet-editor-wrapper {
    margin: 1rem 1rem;

    // Hotfix to hide `Insert snippet variable` button
    section button {
      display: none;
    }
  }

  &__content-analysis-wrapper {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      margin: .3rem 0;
    }

    p {
      font-size: 13px;
      line-height: 1.5;
    }

    > * {
      border-top: var(--border-light);
    }
  }
}

.yoast-loader {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}

.snippet-editor {
  display: none;
}

.ReactModal__Content {
  box-shadow: 0 2px 7px -1px rgba(0, 0, 0, .15);

  strong {
    font-size: 14px;
  }

  .yoast-seo__mark {
    color: var(--text-color-light);
    font-size: 13px;
  }

  .yoast-text-mark {
    color: var(--text-color);
    font-size: 13px;
    line-height: 1.5;
  }
}
