.yoastInfoView {
    --color-bad: #dc3232;
    --color-ok: #ee7c1b;
    --color-good: #7ad03a;
    --color-feedback: #a0a5aa;
    --color-error: #a0a5aa;
    --icon-margin: 5px;
    --text-font-size: 13px;

    margin: 0;
    padding: 0;
    list-style: none;

    &__heading {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 -16px 0 0;
        cursor: pointer;
    }

    &__item {
        margin: .6rem 0;
    }

    &__uncollapse {
        margin-top: 1rem;
    }

    &__title {
        font-weight: bold;
    }

    &__score {
        font-size: 110%;
    }

    &__content {
        font-size: var(--text-font-size);
        margin: .7rem 0 0;

        a {
            color: var(--colors-ContrastBrightest);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__value {
        font-style: italic;
        font-size: var(--text-font-size);
    }

    &__result_group {
        margin-top: .6rem;

        svg {
            margin-right: 9px;
        }
    }

    &__rating_circle {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50%;
        background: currentColor;
    }

    &__rating_error {
        color: var(--color-error);

        svg& {
            color: var(--color-error);
            fill: var(--color-error);
            margin-right: var(--icon-margin);
        }
    }

    &__rating_feedback {
        color: var(--color-feedback);

        svg& {
            color: var(--color-feedback);
            fill: var(--color-feedback);
            margin-right: var(--icon-margin);
        }
    }

    &__rating_bad {
        color: var(--color-bad);

        svg& {
            color: var(--color-bad);
            fill: var(--color-bad);
            margin-right: var(--icon-margin);
        }
    }

    &__rating_ok {
        color: var(--color-ok);

        svg& {
            color: var(--color-ok);
            fill: var(--color-ok);
            margin-right: var(--icon-margin);
        }
    }

    &__rating_good {
        color: var(--color-good);

        svg& {
            color: var(--color-good);
            fill: var(--color-good);
            margin-right: var(--icon-margin);
        }
    }
}
