{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "@neos-project/eslint-config-neos"
    ],
    "globals": {
        "expect": true,
        "sinon": false
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "root": true,
    "ignorePatterns": ["node_modules/"]
}
